# Serial flasher
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# ESP32-S3 specific
CONFIG_ESP_DEFAULT_CPU_FREQ_240=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
